/*
*
*/

.cardbox{
	/* background-color: #2a2a2a; */
	min-height: 16rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}
.cardhead{
	flex: 2;
	display: flex;
	/* 容器项目两端对齐 */
	justify-content: space-between;
	width: 100%;
}
.cardhead span{
	width: 8rem;
	padding-top: 1rem;
	background-color: #000000;
	color: #FCFCFC;
	text-align: center;
	font-size: 1.25rem;
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: 0 0 0.5rem #A3A3A3;
}
.cardhead button{
	border: none;
	margin-top: 2rem;
	height: 1.625rem;
	background-color: rgba(0,0,0,0);
	color: #0078F2;
	text-decoration: underline;
}
.cardbox ul{
	flex: 8;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0);
	border: #000000 solid 0.125rem;
	box-shadow: 0 0 0.5rem #A3A3A3;
}
.cardbox ul li{
	flex: 1;
	height: 88%;
	margin: auto 0.125rem;
	padding: 0;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 0 0.5rem #A3A3A3;
}
.cardbox-loading{
	width: 10%;
	height: 88%;
	padding:6% 45%;
	border: #000000 solid 0.125rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 0.5rem #A3A3A3;
}
@keyframes watingloading{
	0%	{transform: rotateZ(0deg);}
	50%	{transform: rotateZ(180deg);}
	100%{transform: rotateZ(360deg);}
}
.cardbox-loading img{
	display: block;
	width: 3rem;
	height: 3rem;
	animation: watingloading infinite 1s linear;
}
.cardbox ul li:hover{
	cursor: pointer;
}
.cardhead button:hover{
	cursor: pointer;
}

.cardbox ul li img{
	width: 100%;
	height: 100%;
	border: none;
}