/*
*
*/

.cardbox{
	/* background-color: #2a2a2a; */
	height: 16rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}
.cardhead{
	flex: 2;
	display: flex;
	/* 容器项目两端对齐 */
	justify-content: space-between;
	width: 100%;
}
.cardhead span{
	width: 8rem;
	padding-top: 1rem;
	background-color: #0078F2;
	color: #FCFCFC;
	text-align: center;
	font-size: 1.25rem;
	border: #0078F2 solid 0.125rem;
	border-radius: 0.25rem 0.25rem 0 0;
}
.cardhead button{
	border: none;
	margin-top: 2rem;
	height: 1.625rem;
	background-color: rgba(0,0,0,0);
	color: #0078F2;
	text-decoration: underline;
}
.cardbox ul{
	flex: 8;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0);
	border: #0078F2 solid 0.125rem;
}
.cardbox ul li{
	flex: 1;
	width: 25%;
	height: 88%;
	margin: auto 0.125rem;
	padding: 0;
	background-color: rgba(0,0,0,0);
}
.cardbox ul li:hover{
	cursor: pointer;
}
.cardhead button:hover{
	cursor: pointer;
}

.cardbox ul li img{
	width: 100%;
	height: 100%;
	border: none;
}