.max{
	margin: 0 auto;
	width: 70%;
	color: var(--BASE_FONTCOLOR);
}
.max p{
	margin: 2rem 0 2rem 0;
	font-size: 3rem;
	font-weight: 100;
}
.max span{
	font-size: 2.5rem;
	font-weight: 100;
}
.changebox{
	display: flex;
	margin: 0 auto;
	padding-top: 4%;
	height: 12.5rem;
}
.server_left{
	flex: 1;
	position: absolute
}
.server_left ul li{
	width: 8rem;
	height: 4rem;
	border-radius: 0 1.25rem 1.25rem 0;
	text-align: center;
	line-height: 4rem;
	font-size: 1.125rem;
	transition: width 0.5s;
	transform-origin: left;
}
.server_left ul li:hover{
	width: 10rem;
}
.server_right{
	flex: 4;
	height: 13.2rem;
	transition: 1s all;
}
.server_right ul li{
	text-align: right;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.125rem;
}
.server_right form{
	width: 80%;
	margin: 0 auto;		
}
.close{
	text-align: right;
	cursor:pointer;
}
.server_right form table{
	margin-left: 3rem;
	font-size: 1rem;
	border: 0.125rem solid #000000;
	border-radius: 0.5rem;
}
.server_right form table tr{
	text-indent: 2rem;
}
.server_right form table tr h3{
	font-weight: 100;
}
.server_right form table input{
	height: 1.25rem;
	outline: none;
}
.server_right form table input[type="radio"]{
	vertical-align: sub;
}
.server_right form table tr textarea{
	margin-left: 2rem;
	resize: none;
	outline: none;
}
.server_right form table tr:last-child input{
	margin-left: 9.0625rem;
	margin: 1;
	width: 7rem;
	height: 2rem;
	border-radius: 1rem;
	border: none;
	background-color: rgb(0, 120, 242);
	color: #FCFCFC;
}

.max button{
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	width: 5rem;
	height: 2rem;
	box-shadow: 0 0 0.8rem 0.5rem rgb(42, 42, 42);
	background-color: rgb(0, 120, 242);
	border: none;
	outline: none;
	transition: 1s all;
}
.max button:hover{
	width: 6rem;
	height: 3rem;
}