.carouselbox{
	width: 100%;
	height: 22rem;
	margin: 0 auto;
/* 	background-color: #848484; */
	display: flex;
}
.carouselbox span:hover{
	cursor: pointer;
}
.carousel-left{
	height: 100%;
	background-image: linear-gradient(to right,#E7E7E7,#66CCFF,#0078FC,#2A2A2A);
	flex:1;
	/* 中间的箭头 */
	font-size: 3rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 22rem;
	transform: perspective(0.5rem) rotateY(-1deg);
	transform-origin:right;
}
.carousel-left:hover{
	cursor: pointer;
}
.carousle-center{
	height: 100%;
	background-color: #FCFCFC;
	flex: 8;
	position: relative;
}
.carousle-right{
	height: 100%;
	background-image: linear-gradient(to left,#E7E7E7,#66CCFF,#0078FC,#2A2A2A);
	flex: 1;
	/* 中间的箭头 */
	font-size: 3rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 22rem;
	transform: perspective(0.5rem) rotateY(1deg);
	transform-origin:left;
}
.carousle-right:hover{
	cursor: pointer;
}
.carousle-index{
	width: 10%;
	margin: 0 auto;
	position: absolute;
	bottom: 1rem;
	left: 45%;
}
.carousle-index ul{
	display: flex;
}
.carousle-index ul li{
	flex: 1;
}
.carousle-index ul li>span{
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.45);
}
.carousel-idx-active{
	background-color: #000000 !important;
}
.carousel-items{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.carousel-items ul{
	height: 100%;
}
.carousel-items ul li{
	width: 100%;
	height: 100%;
	float: left;
	background-color: #FCFCFC;
}
.carousel-items ul li img{
	width: 100%;
	height: 100%;
}
/*设置列表transition-group的name为list的入场以及离场动画效果*/
.image-enter-active, .image-leave-active {
    transition: all 0.3s;
}
.image-enter, .image-leave-to{
    opacity: 0;
    /* transform: translateX(5rem) translateY(5rem); */
}