*{
	margin: 0;
	padding: 0;
}
body{
	--BASE_BACKGROUND:#E7E7E7;
	--BASE_FONTCOLOR:#2A2A2A;
	--NORMAL_BACKGROUND:#000000;
	--NORMAL_FONTVCOLOR:#FCFCFC;
	--NORMAL_UNACTIVE:#848484;
	--BUTTON_BACKGROUND:#000000;
	--BUTTON_FONTCOLOR:#FCFCFC;
	--BUTTON_ACTIVE_BACKGROUND:#0078FC;
	background-color: var(--BASE_BACKGROUND);
	
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: var(--BASE_FONTCOLOR);
}
