.topbarbox{
	width: 100%;
	height: 4rem;
	background-color: #FCFCFC;
	position: relative;
	display: flex;
}
.topbarbox ul{
	flex: 8;
	display: flex;
	width: 40%;
	margin-left: 15%;
}
.topbarbox ul li{
	width: 6.25rem;
	height: 100%;
	text-align: center;
}
.topbarbox ul li:first-child{
	width: 10rem;
}
.topbarbox ul li img{
	width: 100%;
	height: 100%;
}
.topbarbox ul li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #333333;
	line-height: 4rem;
}
.topbarbox ul li>a:hover{
	color: #0078F2;
	height: 94%;
	border-bottom: #0078F2 solid 0.25rem;
}
.topbar-special{
	flex: 2;
	display: flex;
	flex-direction: row-reverse;
	right: 0;
	height: 100%;
	margin-right: 15%;
}
button{
	color:#FFFFFF
}
.loginBtn{
	background-color: rgba(0,0,0,0);
	color: #333333;
	border: none;
	width: 5rem;
	height: 100%;
	font-size: 1.125rem;
}
.loginBtn:hover{
	color: #1098FF;
}
.downloadBtn{
	background-color: #000000;
	border: none;
	width: 8rem;
	height: 100%;
}
.downloadBtn:hover{
	cursor: pointer;
	background-color: #0078F2;
}
.userProfile{
	width: 3rem;
	height: 3rem;
	border: #0078F2 solid 0.0625rem;
	border-radius: 50%;
	margin: auto 2.5rem;
}
.userProfile:hover{
	cursor: pointer;
}