.topbarbox{
	width: 100%;
	height: 4rem;
	background-color: #2a2a2a;
	position: relative;
	color: #FFFFFF;
	display: flex;
}
.topbarbox ul{
	flex: 8;
	display: flex;
	width: 40%;
}
.topbarbox ul li{
	width: 6.25rem;
	height: 100%;
	text-align: center;
}
.topbarbox ul li:first-child{
	width: 10rem;
}
.topbarbox ul li img{
	width: 100%;
	height: 100%;
}
.topbarbox ul li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 4rem;
}
.topbarbox ul li>a:hover{
	color: #1098FF;
	height: 94%;
	border-bottom: #1098FF solid 0.25rem;
}
.special{
	flex: 2;
	display: flex;
	flex-direction: row-reverse;
	right: 0;
	height: 100%;
}
button{
	color:#FFFFFF
}
.loginBtn{
	background-color: rgba(0,0,0,0);
	border: none;
	width: 5rem;
	height: 100%;
	font-size: 1.125rem;
}
.loginBtn:hover{
	color: #1098FF;
}
.downloadBtn{
	background-color: #0078f2;
	border: none;
	width: 8rem;
	height: 100%;
}