.registerbox{
  width: 40%;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;
  border-radius: 0.25rem;
  background-color:#FCFCFC;
}
.register-left{
  flex: 1;
}
.register-left h2{
  text-align: center;
  color: #2a2a2a;
  margin-bottom: 1rem;
}
.register-left span{
  font-size: 1rem;
  color: #2a2a2a;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  width: 100%;
  padding-top: 10px;
}
.register-left input{
  height: 1.75rem;
  width: 40%;
  padding: 0 5%;
  margin-bottom: 0.25rem;
  margin-left: 2rem;
  display: inline-block;
  border: none;
  border-bottom: #FCFCFC solid 0.125rem;
  background-color: rgba(1, 1, 1, 0.05);
  color: #2a2a2a;
}
.register-option{
  display: flex;
  height: 3rem;
}
.register-option button{
  flex: 1;
  border: none;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin: 1rem 1rem 0.5rem 2rem;
  background-color:#0078f2;
}
.register-option a{
  flex: 1;
  color: 	var(--BASE_FONTCOLOR);
  text-align: right;
  line-height: 3rem;
}
.register-right{
  flex: 1;
  height: 24.5rem;
  text-align: center;
  /* background-color: turquoise; */
}
.register-right-news{
  flex: 1;
  height: 22rem;
  /* background-color: violet; */
}
.register-right-news a{
  flex: 1;
  color: 	var(--BASE_FONTCOLOR) !important; 
}
.checkerror{
  border: #fc2222 solid 0.125rem !important;
}