.contain{
	width: 70%;
	margin: 0 auto;
}
.nav{
	width: 50%;
	height: 4rem;
	margin: 2rem auto;
	box-shadow: 0 0 0.5rem #A3A3A3;
}
.nav ul{
	display: flex;
}
.nav ul li{
	flex: 1;
	text-align: center;
	line-height: 4rem;
	background-color: #000000;
}
.nav ul li a{
	color: var(--FRONTCOLOR);
}
.nav ul li:hover{
	background-color: #0078F2;
}
.categorybox{
	color: #333333;
	width: 10%;
	position: fixed;
	left: 2.5%;
	box-shadow: 0 0 0.5rem #A3A3A3;
	background-color: rgba(188,188,188,0.15);
	border-bottom-left-radius: 0.35rem;
	border-bottom-right-radius: 0.35rem;
	border-bottom: #000000 solid 0.25rem;
}
.categorybox span{
	display: inline-block;
	width: 100%;
	padding-left: 1rem;
	box-sizing: border-box;
	color: var(--FRONTCOLOR);
	background-color: var(--FRONTGROUND);
}
.categorybox h4{
	color: #FCFCFC;
	background-color: #000000;
	font-size: 1.5rem;
	text-align: center;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.categorybox h5{
	font-size: 1.125rem;
	margin: 0.125rem auto;
}
.categorybox ul li{
	color: #848484;
	margin: 0.2rem 1rem 0rem;
	padding: 0.05rem;
}
.categorybox ul li:hover{
	background-color: #0078F2;
	color: #FCFCFC;
	cursor: pointer;
}