.libirarybox{
	width: 70%;
	margin: 0 auto;
	padding-top: 2rem;
	position: relative;
	display: flex;
}
.gategory{
	flex: 2;
	margin-right: 0.5rem;
}
.gategory h2{
	color: #FCFCFC;
	margin-bottom: 1rem;
}
.gategory-list{
	border-radius: 0.375rem;
	border: 0.125rem solid #0078F2;
	margin-bottom: 1rem;
}
.gategory-list h3{
	background-color: #0078F2;
}
.gategory-list ul li{
	color :#FCFCFC;
	margin: 0.5rem 0;
	padding: 0 0 0 1rem;
}
.gategory-list ul li:hover{
	cursor: pointer;
	background-color: #FCFCFC;
	color: #0078F2;
}
.gamecontain{
	flex: 6;
	width: 100%;
	height: 100%;
}
.detail-banner{
	width: 100%;
	height: 15rem;
	background-image: radial-gradient(#848484,#848484,rgba(0,0,0,0.05));
}
.detail-banner img{
	max-width: 100%;
	height: 100%;
}
.detail-header{
	width: 100%;
	border-bottom: #0078F2 solid 0.25rem;
	display: flex;
}
.detail-header h2{
	flex: 2;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem 0rem 0.5rem;
	background-color: #0078F2;
	text-align: center;
	color: #FCFCFC;
}
.detail-header-data{
	flex: 4;
	display: inline-block;
	height: 100%;
}
.detail-header-data span{
	display: inline-block;
	width: 100%;
	color: #848484;
}
.detail-header button{
	flex: 2;
	background-color: #0078F2;
	border: none;
	border: #0078F2 0.0625rem solid;
	margin: 0.125rem 0.125rem;
}
.detail-header button:hover{
	cursor: pointer;
	background-color: #36c84e;
}
.timeline{
	width: 95%;
	margin-left: 5%;
	border-left: #0078F2 solid 0.25rem;
}
.timeline-nonews{
	margin-top: 2rem;
	width: 90%;
	border: #0078F2 solid 0.125rem;
}
.timeline-nonews p{
	font-size: 1.5rem;
	text-align: center;
	color: #FCFCFC;
}

.timeline-item{
	width: 95%;
}
.timeline-item-circle{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: #0078F2 solid 0.25rem;
	background-color: #FCFCFC;
	transform: translateX(-0.75rem) translateY(1rem);
}
.timeline-item-line{
	width: 6rem;
	margin-left: 0.5rem;
	padding-left: 1rem;
	border-bottom-left-radius: 50%;
	border-bottom: #0078F2 solid 0.125rem;
	transform: translateX(-0.75rem) translateY(0.25rem);
	font-size: 0.875rem;
	color: #848484;
	text-align: right;
}
.timeline-item-body{
	max-width: 70%;
	color: #FCFCFC;
	transform: translateX(6.75rem) translateY(-1.25rem);
	border: #0078F2 solid 0.125rem;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
}
.libright{
	flex: 2;
	margin-left: 0.5rem;
}
.libright-card{
	width: 98%;
	margin: 0rem 1rem 1% 1%;
	border-radius: 0.25rem;
	border: #0078F2 solid 0.125rem;
}
.libright-card p{
	color: #FCFCFC;
	text-align: center;
}
.libright-card h4{
	color: #FCFCFC;
	background-color: #0078F2;
	padding-left: 1rem;
}
.libright-card ul li:hover{
	background-color: #2A2A2A;
	cursor: pointer;
}
.libright-card-body{
	width: 100%;
	padding: 0.25rem;
	display: flex;
}
.libright-card-body img{
	width: 2.5rem;
	height: 2.5rem;
	border: none;
}
.libright-card-body-sp{
	flex: 8;
	padding-left: 0.25rem;
	color: #FCFCFC;
}
.libright-card-body span{
	display: inline-block;
	width: 100%;
}