.probox{
	width: 70%;
	margin: 0 auto;
	margin-top: 1rem;
	background-color: #E7E7E7;
	background-size: 100% 100%;
	color: #FCFCFC;
	box-shadow: 0 0 0.5rem #A3A3A3;
}
.probox>h2{
	font-size: 2rem;
	background-color: #0078F2;
	padding-left: 1rem;
}
.probasic{
	width: 100%;
}
.probasic img{
	min-width: 8rem;	/* //128px*128px */
	max-width: 8rem;
	min-height: 8rem;
}
.probasic-info{
	display: inline-block;
	vertical-align: top;	/* //使元素顶部对齐,清除默认的基线对齐 */
	margin-left: 0.5rem;
}
.probasic-info-line{
	
}
.probasic-info-line strong{
	margin-right: 2rem;
}
.probasic-info-line i{
	
}
.probasic-info-line span{
	color: #0078F2;
	margin-right: 0.5rem;
}
.probasic-info-line textarea{
	resize: none;
	width: 14.2rem;
	height: 3.2rem;
	color: #FCFCFC;
	font-size: 0.85rem;
	overflow: hidden;
	padding-top: 0.25rem;
	padding-left: 0.125rem;
	display: inline-block;
	vertical-align: top;
	/* border: #0078F2 solid 0.0625rem;*/
	border: none;
}
.sprite-pen{
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	background-color: rgba(0,0,0,0);
	background-image: url(../../img/sprite/pen.png);
	background-size: 100% 100%;
}
.recharge-btn{
	border: #0078F2 solid 1px;
	border-radius: 0.25rem;
	background-color: #0078F2;
}
.prodetail{
	width: 100%;
}
.prodetail-head{
	border-bottom: #0078F2 solid 0.125rem;
	background-color: #0078F2;
	margin-bottom: 0.5rem;
}
.prodetail-head h2{
	display: inline-block;
	font-size: 2rem;
	margin:0 1rem;
}
.prodetail-head div{
	height: 100%;
	width: 3rem;
	display: inline-block;
	vertical-align: bottom;
}
.prodetail-head button{
	font-size: 0.75rem;
	border: none;
	background-color: rgba(0,0,0,0);
	text-decoration: underline;
}
.prodetail-body{
	width: 100%;
	margin-bottom: 0.25rem;
}
.prodetail-body div{
	margin: 0.25rem 0;
}
.prodetail-body div span{
	margin-left: 0.5rem;
	white-space: nowrap;
	display: inline-block;
	width: 6rem;
	max-width: 6rem;
}
.prodetail-body div input{
	border: #0078F2 solid 0.0625rem;
	background-color: rgba(0,0,0,0);
	color: #FCFCFC;
}
.prodetail-body input[type=submit]{
	width: 5rem;
	background-color: #0078F2;
	padding: 0.125rem 0.25rem;
	margin-left: 0.5rem ;
}
.prodetail-body input[type=button]{
	width: 5rem;
	background-color: #0078F2;
	padding: 0.125rem 0.25rem;
	margin-left: 0.5rem ;
}
.prodetail-body input[type=submit]:hover{
	background-color: #36C84E;
}
.prodetail-body input[type=button]:hover{
	background-color: #36C84E;
}
.prodetail-playinfo{
	width: 100%;
	margin-bottom: 0.5rem;
}
.prodetail-playinfo h2{
	width: 10rem;
	color: #FCFCFC;
	background-color: #0078F2;
	text-align: center;
}
.prodetail-playinfo p{
	height: 3rem;
	text-align: center;
	font-size: 1.5rem;
	border-top: #0078F2 solid 0.125rem;
	border-bottom: #0078F2 solid 0.125rem;
}
.prodetail-record{
	width: 100%;
}
.prodetail-record h2{
	width: 10rem;
	color: #FCFCFC;
	background-color: #0078F2;
	text-align: center;
}
.prodetail-record>p{
	height: 3rem;
	text-align: center;
	font-size: 1.5rem;
	border-top: #0078F2 solid 0.125rem;
	border-bottom: #0078F2 solid 0.125rem;
}
.prodetail-record-item{
	border-top: #0078F2 solid 0.125rem;
	border-bottom: #0078F2 solid 0.125rem;
	margin-bottom: 0.25rem;
}
.prodetail-record-item img{
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	width: 100%;
	height: 100%;
	margin-left: 0.125rem;
}
.prodetail-record-item div{
	display: inline-block;
	margin-left: 0.5rem;
}
.prodetail-record-item div span{
	display: block;
	font-size: 1rem;
}
.prodetail-record-item p{
	padding-left: 2.5rem;
	height: 3rem;
	width: 60rem;	/* //超过180字需要js处理 */
}