.shopcartbox{
	width: 70%;
	margin: 0 auto;
	color: #2A2A2A;
}
.shopcart-banner{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.shopcart-banner-item{
	background-color: #FCFCFC;
	/* border: #0078F2 solid 0.0625rem; */
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0;
}
.shopcart-banner-item-type{
	margin: auto 1rem;
	padding: auto 0;
	width: 2rem;
}
.shopcart-banner-item-detail{
	flex: 7;
	display: flex;
}
.shopcart-banner-item-detail img{
	min-width: 15rem;
	min-height: 5rem;
	margin: 0.25rem 0;
	display: inline-block;
	margin-right: 0.5rem;
}
.shopcart-banner-item-detail span:first-child{
	font-size: 1.25rem;
	display: block;
	margin-top: 0.5rem;
}
.shopcart-banner-item-detail span:last-child{
	display: block;
}
.shopcart-banner-item-option{
	width: 7rem;
	margin: auto 0;
}
.shopcart-banner-item-option button{
	width: 48%;
	height: 2rem;
	border: none;
	background-color: #0078F2;
	margin: auto 0;
}
.shopcart-banner-item-option button:first-child:hover{
	background-color: #F29900;
}
.shopcart-banner-item-option button:last-child:hover{
	background-color: #FD2222;
}
.shopcart-banner-else{
	width: 100%;
	text-align: center;
	margin-top: 10rem;
}
.shopcart-banner-else a{
	text-decoration: underline;
	color: #0078F2;
}
.shopsettlement{
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 70%;
	height: 4rem;
	background-color: #000000;
}
.shopsettlement-all{
	width: 2rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.shopsettlement-all span{
	color: #FCFCFC;
	margin-top: 0.25rem;
}
.shopsettlement-pay{
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: space-between;
}
.shopsettlement-pay-span{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 0;
	color: #FCFCFC;
}
.shopsettlement-pay-span a{
	text-decoration: underline;
}
.shopsettlement-pay button{
	width: 50%;
	height: 100%;
	border: none;
	color: #A3A3A3;
}
.wattingpay{
	background-color: #0078F2;
	color: #FCFCFC !important;
}